/Dienstag.java
/DienstagFerien.java
/Donnerstag.java
/DonnerstagFerien.java
/Feiertag.java
/Ferien.java
/Ferienbeginn.java
/Freitag.java
/FreitagFerien.java
/Mittwoch.java
/MittwochFerien.java
/Montag.java
/MontagFerien.java
/Samstag.java
/SamstagFerien.java
/Sonntag.java
/SonntagFerien.java
/Werktag.java
/Brueckentag.java
